:root {
	font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: sans-serif;
}

body {
	background-color: #18181c;
	overflow: hidden;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0 0 0 / 0.4);
}

.form {
	background-color: #fff;
	border-radius: 4px;
	padding: 16px;
}

.hidden {
	display: none;
}
